@import url("//fonts.googleapis.com/css?family=Nunito:400,600");
@import "normalize";
@import "mixins";

$primary: #0037fe;
$white: #ffffff;
$lightgrey: #d1d1d1;
$darkgrey: #444444;
$black: #000000;

body {
  color: $darkgrey;
  font-family: "Nunito", "Arial", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 1rem 0;
}

img {
  max-width: 100%;
}

%container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  @include breakpoint($small) {
    flex-wrap: wrap;
  }
}

.button {
  background: $primary;
  border: none;
  border-radius: 2rem;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25;
  min-width: 200px;
  padding: 1rem 2.5rem;
  position: relative;
  outline: 1px solid transparent;
  outline-offset: -1px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  -webkit-appearance: none;
}

.button.white {
  background: $white;
  color: $primary;
}

.container {
  @extend %container;
}

.header {
  background: $black;

  &__content {
    @extend %container;
    padding: 1rem;
  }

  &__nav {
    align-self: center;
    list-style-type: none;
    margin: 0;
  }

  &__home-link {
    display: flex;

    &-text {
      display: block;
      height: 0;
      text-indent: -9999px;
      width: 0;
    }
  }
}

.nav {
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    margin-left: 1rem;
  }

  &__link {
    color: $white;
    position: relative;
    text-decoration: none;
    top: -5px;

    &:after {
      border-bottom: 2px solid $white;
      bottom: -5px;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}

.page {
  &__content {
    margin: 0 auto;
    max-width: 900px;
    padding: 2rem 1rem;
    width: 100%;

    @include breakpoint($medium) {
      padding: 3rem 0 5rem;
    }
  }

  &__title {
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    left: 50%;
    line-height: 1.2;
    margin: 0 0 2rem 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: -5px;
    transform: translateX(-50%);

    &:after {
      border-bottom: 2px solid;
      border-bottom-color: inherit;
      bottom: -5px;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &__sub-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 auto 3rem auto;
    max-width: 800px;
    text-align: center;

    .work-page & {
      margin-bottom: 0;
    }
  }
}

.bio {
  text-align: center;

  @include breakpoint($medium) {
    text-align: left;
  }

  &__headshot {
    display: none;

    @include breakpoint($medium) {
      display: flex;
      align-self: end;
      margin-bottom: -5rem;
      margin-top: -2rem;
      width: 50%;
    }
  }

  .button {
    margin-top: 1rem;
  }
}

.clients {
  background: lighten($lightgrey, 10%);
  padding: 2rem 1rem;

  @include breakpoint($medium) {
    padding: 3rem 0;
  }

  &__content {
    @extend %container;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.work {
  @extend %container;
  padding: 0 1rem 2rem 1rem;

  @include breakpoint($medium) {
    padding-bottom: 3rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    align-items: center;
    flex: 1 1 100%;
    flex-basis: 100%;
    justify-content: center;
    padding: 0.5rem 0;

    @include breakpoint($medium) {
      flex: 1 1 50%;
      flex-basis: 50%;
      padding: 1rem;
    }
  }

  img {
    display: block;
    width: 100%;
  }
}

.logos {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    align-items: center;
    display: flex;
    flex: 1 1 100px;
    flex-basis: 100px;
    justify-content: center;
    margin: 1rem;

    @include breakpoint($medium) {
      flex: 1 1 60px;
      flex-basis: 60px;
      margin: 0 1rem;
    }

    &:nth-child(4) {
      @include breakpoint($small) {
        display: none;
      }
    }
  }

  img {
    filter: grayscale(100%);
    width: 95%;
  }
}

.contact {
  background: $black;
  padding: 2rem 1rem;

  @include breakpoint($medium) {
    padding: 3rem 0;
  }

  &__content {
    @extend %container;
  }

  .button {
    align-self: flex-start;
  }

  &__link {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 300;

    @include breakpoint($medium) {
      font-size: 2rem;
    }

    a {
      color: $white;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.footer {
  background: $black;
  color: $white;
  padding: 1rem;

  @include breakpoint($medium) {
    padding: 2rem 0;
  }

  &__content {
    @extend %container;
  }
}

.copyright {
  @include breakpoint($medium) {
    display: flex;
    order: 1;
  }
}

.social {
  display: flex;
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;

  @include breakpoint($medium) {
    display: flex;
    order: 2;
  }

  &__item {
    margin: 0 0.25rem;

    @media screen and (min-width: 768px) {
      margin: 0 1rem;
    }
  }

  &__link {
    color: $white;
    display: block;
    opacity: 1;
    position: relative;
    text-decoration: none;
    top: -5px;
    transition: all 0.2s ease;

    &:after {
      border-bottom: 2px solid $white;
      bottom: -5px;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}
