<div class='contact'>
  <div class='contact__links'>
    <p class='contact__link'>Email <a href='mailto:dan@danmitchell.co.uk'>dan@danmitchell.co.uk</a></p>
    <p class='contact__link'>Tel <a href='tel:07875268905'>07875 268 905</a></p>
  </div>
  <a href='https://s3.eu-west-2.amazonaws.com/danmitchell/dan-mitchell.pdf' class='button'>Download CV</a>
</div>
