<footer class='footer'>
  <ul class='social'>
    <li class='social__item'>
      <a target='_blank' href='https://www.linkedin.com/in/dankmitchell' class='social__link' aria-label='View on Linkedin' rel='external nofollow'>linkedin</a>
    </li>
    <li class='social__item'>
      <a target='_blank' href='https://twitter.com/danmitchell_' class='social__link' aria-label='View on Twitter' rel='external nofollow'>twitter</a>
    </li>
    <li class='social__item'>
      <a target='_blank' href='https://www.github.com/dankmitchell' class='social__link' aria-label='View on Github' rel='external nofollow'>github</a>
    </li>
  </ul>
  <p class='copyright'>&copy; 2018 Dan Mitchell LTD - All rights reserved.</p>
</footer>
