<footer class='footer'>
  <ul class='social'>
    <li>
      <a target='_blank' href='https://www.linkedin.com/in/dankmitchell' class='linkedin' aria-label='View on Linkedin' rel='external nofollow'>linkedin</a>
    </li>
    <li>
      <a target='_blank' href='https://twitter.com/danmitchell_' class='twitter' aria-label='View on Twitter' rel='external nofollow'>twitter</a>
    </li>
    <li>
      <a target='_blank' href='https://www.github.com/dankmitchell' class='github' aria-label='View on Github' rel='external nofollow'>github</a>
    </li>
  </ul>
  <p class='copyright'>&copy; 2018 Dan Mitchell LTD - All rights reserved.</p>
</footer>
