<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
<meta name='description' content='An experienced Frontend Developer based in Essex. Specialising in all client side technologies (HTML, CSS and JS).' />
<title>Dan Mitchell - Frontend Developer</title>
<link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab:700" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="shortcut icon" href="/images/favicon.png" />
<link rel="canonical" href="http://www.danmitchell.co.uk" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="An experienced Frontend Developer based in Essex. Specialising in all client side technologies (HTML, CSS and JS)." />
<meta name="twitter:title" content="Dan Mitchell - Frontend Developer" />
<meta name="twitter:site" content="@danmitchell_" />
<meta name="twitter:creator" content="@danmitchell)" />
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Dan Mitchell - Frontend Developer" />
<meta property="og:description" content="An experienced Frontend Developer based in Essex. Specialising in all client side technologies (HTML, CSS and JS)." />
<meta property="og:url" content="http://www.danmitchell.co.uk" />
<meta property="og:site_name" content="Dan Mitchell" />
