<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
<meta name='description' content='Freelance Frontend Developer based in Essex. Specialising in all client side technologies and Ruby on Rails' />
<title>Dan Mitchell - Freelance Frontend Developer | Ruby on Rails</title>
<link rel='stylesheet' href='/stylesheets/app.css' />
<link rel='shortcut icon' href='/images/favicon.png' />
<link rel='canonical' href='https://www.danmitchell.co.uk' />
<meta name='twitter:card' content='summary' />
<meta name='twitter:description' content='Freelance Frontend Developer based in Essex. Specialising in all client side technologies and Ruby on Rails' />
<meta name='twitter:title' content='Dan Mitchell - Freelance Frontend Developer' />
<meta name='twitter:site' content='@danmitchell_' />
<meta name='twitter:creator' content='@danmitchell_' />
<meta property='og:locale' content='en_GB' />
<meta property='og:type' content='website' />
<meta property='og:title' content='Dan Mitchell - Freelance Frontend Developer' />
<meta property='og:description' content='Freelance Frontend Developer based in Essex. Specialising in all client side technologies and Ruby on Rails' />
<meta property='og:url' content='https://www.danmitchell.co.uk' />
<meta property='og:site_name' content='Dan Mitchell' />
<meta property='og:image' content='/images/facebook-image.jpg' />
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-120076186-1', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>
