<%- contentFor('body_classes') %>
home-page

<%- contentFor('page_title') %>
Agile Delivery Manager in Essex | Dan Mitchell

<%- contentFor('page_description') %>
Agile Delivery Manager based in Essex. Specialising in the delivery of digital services in the public sector #shipit

<%- contentFor('body') %>
<img src='images/facebook-image.jpg' alt='Headshot of Dan Mitchell, agile delivery manager' class='bio__headshot--mobile' />
<div class='page'>
  <div class='page__content'>
    <h1 class='page__title'>about me</h1>
    <h2 class='page__sub-title'>Experienced leader &amp; agile delivery manager</h2>
      <div class='container'>
        <div class='bio'>
          <p>As an experienced Agile delivery manager and software developer, my background is in retail management, which means clients benefit from my unique skill set to deliver public sector projects.  I seamlessly combine people management, business acumen, and technical understanding and when clients see my successful Agile delivery management history, they have the confidence to work with me on further key projects time and again.</p>
          <p>I am also the founder and MD of Digital Reflow, a full-service digital consultancy, employing a team of ten, working with premium, luxury and aspirational brands to provide customer-focused digital strategies with a strong emphasis on healthy ROI. I believe in leading by example, empowering others, and supporting my teams to continuously improve the outcomes they are tasked with.</p>
          <a href='mailto:dan@danmitchell.co.uk' class='button'>Contact me</a>
        </div>
        <img src='images/dan.png' alt='Headshot of Dan Mitchell, agile delivery manager' class='bio__headshot' />
      </div>
  </div>
</div>

<div class='clients'>
  <div class='clients__content'>
    <ul class="logos">
      <li class='logos__item'>
        <img src='images/barclays.svg' alt='Barclays logo' />
      </li>
      <li class='logos__item'>
        <img src='images/tui-group.svg' alt='TUI Group logo' />
      </li>
      <li class='logos__item'>
        <img src='images/mclaren.svg' alt='McLaren logo' />
      </li>
      <li class='logos__item'>
        <img src='images/department-for-education.svg' alt='Department for Education' />
      </li>
      <li class='logos__item'>
        <img src='images/cabinet-office.svg' alt='Cabinet Office logo' />
      </li>
      <li class='logos__item'>
        <img src='images/the-telegraph.svg' alt='Telegraph logo' />
      </li>
      <li class='logos__item'>
        <img src='images/pearson.svg' alt='Pearson logo' />
      </li>
    </ul>
  </div>
</div>
