<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="grid-container">
    <div class="grid-row">
      <div class="medium-6 cell">
        <h1>Dan Mitchell</h1>
        <h4>Frontend Developer <small>with Ruby on Rails</small></h4>
      </div>
    </div>
  </div>

</body>
</html>
