<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/header.ejs %>
  <main role='main'>
    <div class='page'>
      <div class='page__content'>
        <h1 class='page__title'>About me</h1>
        <h2 class='page__sub-title'>Freelance Frontend Developer with expertise in management and customer service</h3>
        <div class='container'>
          <div class='bio'>
            <p>I’m an extremely hard working and a passionate individual, I strive for the best and don't give up until I have achieved my goals.</p>
            <p>I have an extensive background in customer service, team leadership and business development; combining this with my technical abilities makes me an asset to any business.</p>
            <p>My Technical Skills are Ruby on Rails, HTML(5), CSS(3), JavaScript, NPM, Responsive Web Design(Mobile first).</p>
            <p>I’m proficient in the Photoshop, Illustrator and Sketch.</p>
            <p class='contact__link'>Email <a href='mailto:dan@danmitchell.co.uk'>dan@danmitchell.co.uk</a></p>
            <p class='contact__link'>Tel <a href='tel:07875268905'>07875 268 905</a></p>
            <a href='mailto:dan@danmitchell.co.uk' class='button white'>Hire me</a>
          </div>
          <img src='images/dan.png' alt='Headshot of Dan Mitchell, Frontend developer' class='bio__headshot'></a>
        </div>
      </div>
    </div>

    <div class='clients'>
      <div class='clients__content'>
        <h3>Working with companies such as</h3>
        <ul class="logos">
          <li><img src='images/barclays.svg' alt='Barclays logo'/></li>
          <li><img src='images/tui-group.svg' alt='TUI Group logo'/></li>
          <li><img src='images/mclaren.svg' alt='McLaren logo'/></li>
          <li><img src='images/wpp.svg' alt='WPP Group logo'/></li>
          <li><img src='images/pearson.svg' alt='Pearson logo'/></li>
          <li><img src='images/the-telegraph.svg' alt='Telegraph logo'/></li>
          <li><img src='images/cabinet-office.svg' alt='Cabinet Office logo'/></li>
        </ul>
      </div>
    </div>

    <div class='contact'>
      <div class='contact__links'>
        <p class='contact__link'>Email <a href='mailto:dan@danmitchell.co.uk'>dan@danmitchell.co.uk</a></p>
        <p class='contact__link'>Tel <a href='tel:07875268905'>07875 268 905</a></p>
      </div>
      <a href='https://s3.eu-west-2.amazonaws.com/danmitchell/dan-mitchell.pdf' class='button'>Download CV</a>
    </div>
  </main>
  <% include ../partials/footer.ejs %>
</body>
</html>
