<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class='page' role='main'>
    <svg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
       width='200px' height='200px' viewBox='0 0 87.594 87.595' enable-background='new 0 0 87.594 87.595' xml:space='preserve'>
    <title>Dan Mitchell logo</title>
    <g>
      <path fill-rule='evenodd' clip-rule='evenodd' fill='#FFFFFF' d='M0,0h43.797c12.05,0,23,4.927,30.935,12.861
        c7.937,7.937,12.862,18.888,12.862,30.936c0,12.051-4.926,23.002-12.86,30.937c-7.936,7.936-18.886,12.861-30.937,12.861H6.041H0
        v-6.041V52.353c0-5.485,2.24-10.468,5.848-14.075c3.608-3.608,8.592-5.849,14.076-5.849c5.382,0,10.279,2.156,13.871,5.646
        c3.59-3.489,8.487-5.646,13.869-5.646l0,0c5.485,0,10.468,2.239,14.076,5.849c3.608,3.607,5.849,8.59,5.849,14.075H55.507
        c0-2.15-0.885-4.109-2.309-5.534c-1.424-1.424-3.384-2.308-5.534-2.308l0,0c-2.15,0-4.109,0.884-5.533,2.308
        c-1.305,1.305-2.156,3.059-2.29,4.996c0.005,0.179,0.008,0.358,0.008,0.538v13.422h-0.026v3.396H27.74V52.353
        c0-0.18,0.002-0.359,0.008-0.538c-0.135-1.938-0.985-3.691-2.29-4.996c-1.424-1.424-3.384-2.308-5.534-2.308
        s-4.109,0.884-5.533,2.308c-1.425,1.425-2.309,3.384-2.309,5.534v23.16h31.715c8.716,0,16.644-3.57,22.395-9.321
        s9.32-13.679,9.32-22.395c0-8.713-3.57-16.642-9.322-22.393c-5.75-5.751-13.678-9.322-22.393-9.322H0V0z'/>
    </g>
    </svg>
    <h1 class='page__title'>Dan Mitchell</h1>
    <h3 class='page__sub-title'>Frontend Developer</h3>
    <p>Under contract with GDS (Government Digital Service) until 25th November 2017.</p>
    <ul class='social'>
      <li>
        <a target='_blank' href='https://www.github.com/danmitchell-' class='github text-hide' aria-label='View on Github' rel='external nofollow'>Github</a>
      </li>
      <li>
        <a target='_blank' href='https://twitter.com/danmitchell_' class='twitter text-hide' aria-label='View on Twitter' rel='external nofollow'>Twitter</a>
      </li>
      <li>
        <a target='_blank' href='https://www.linkedin.com/in/dankmitchell' class='linkedin text-hide' aria-label='View on Linkedin' rel='external nofollow'>Linkedin</a>
      </li>
    </ul>
  </div>
</body>
</html>
