<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <h1>Dan Mitchell</h1>
    <p>Website coming soon, visit <a href="https://www.digitalreflow.co.uk">Digital Reflow</a> for some of my work</p>
  </body>
</html>
