<%- contentFor('body_classes') %>
content-page

<%- contentFor('page_title') %>
Ruby on Rails Developer - Agile Delivery Manager & Developer in Essex | Dan Mitchell

<%- contentFor('page_description') %>
I am a freelance Ruby on Rails developer in Essex, operating throughout the county and London. I offer from-scratch development, completion of existing projects, maintenance and more. Find out more about my RoR development services.

<%- contentFor('body') %>
<div class='page'>
  <div class='page__content'>
    <h1 class='page__title'>my story</h1>

    <p>As an experienced Agile delivery manager and software developer, my background is in retail management, which means clients benefit from my unique skill set to deliver public sector projects.  I seamlessly combine people management, business acumen, and technical understanding and when clients see my successful Agile project management history, they have the confidence to work with me on further key projects time and again.</p>

    <p>In summary, I spent ten years in retail management, troubleshooting and improving store teams nationwide. I then trained as a developer, and spent seven years working for blue chip, public sector and branded businesses like Barclays; the Tui Group; McLaren; Department for Education; the Cabinet Office; The Telegraph; and Pearson.</p>

    <p>Since 2019, I have brought all my skills together to become a technical delivery manager, proficient in Agile Methodology, including as a Scrum Master, managing high profile government digital transformation projects.</p>

    <p>I am also the founder and MD of Digital Reflow, a full-service digital consultancy, employing a team of ten, working with premium, luxury and aspirational brands to provide customer-focused digital strategies with a strong emphasis on healthy ROI.</p>

    <p>Passionate about building positive, productive relationships with my teams and the people I work with, I believe in modelling good leadership skills to raise other leaders. Being able to see the big picture and the end goal, while remaining focused on the details of each task we face, is part of what I offer. I believe in leading by example and empowering others to take responsibility in their role, supporting my teams to continuously improve the outcomes they are tasked with.</p>
  </div>
</div>
