<%- contentFor('body_classes') %>
content-page

<%- contentFor('page_title') %>
Ruby on Rails Developer - Agile Delivery Manager & Developer in Essex | Dan Mitchell

<%- contentFor('page_description') %>
I am a freelance Ruby on Rails developer in Essex, operating throughout the county and London. I offer from-scratch development, completion of existing projects, maintenance and more. Find out more about my RoR development services.

<%- contentFor('body') %>
<div class='page'>
  <div class='page__content'>
    <h1 class='page__title'>ruby on rails</h1>
    <p>I have been using Ruby on Rails (RoR) since 2013 and am now, an experienced RoR developer, available on a freelance basis, remote or in-house in London or Essex.</p>

    <p>I can build your application from-scratch, complete an unfinished application, make amends to an existing application, or perform regular maintenance to keep everything ticking over.</p>

    <p>Over the years I have worked with businesses in all sectors, big and small. My clients include Barclays Bank, TUI, McLaren, the Department for Education, The Telegraph, and many more.</p>

    <h3>What is Ruby on Rails?</h3>
    <p>Rails is a web-application framework, that is predominately used to create database-backed web applications. It uses the principles of MVC (Model, View, Controller). The Rails framework helps developers to build websites and applications, because it abstracts and simplifies common repetitive tasks.</p>

    <h3>Why choose Rails for your project?</h3>
    <p>There are a variety of pros of using Rails to develop your web application, including;</p>

    <ul>
      <li>Use of MVC principles, which means your application can easily be extended and amended</li>
      <li>Quick to develop, taking a fraction of the time of more complex frameworks and therefore saving cost, too</li>
      <li>Promotes rapid application development (RAD), which means you will receive a proof of concept quickly, which you can then feedback on and test vigorously prior to go-live</li>
      <li>Versatile with readable code, which means you can switch between developers easily, internally or externally, without any hiccups
      <li>It's open source, so you don't need to worry about licensing costs that come with other frameworks</li>
    </ul>
    <p>Not convinced? <a href="mailto:dan@danmitchell.co.uk">Contact me</a> to discover more benefits of hiring me as your RoR developer.</p>

    <h3>Getting started</h3>
    <p>To find out more about my RoR development services and to discuss your project, please <a href="mailto:dan@danmitchell.co.uk">contact me</a> for a meeting, where we'll go over your requirements, the process and I'll provide an accurate quote.</p>
    <p>And I’m not just an RoR developer. You can also find out more about my website design and software development services.</p>
  </div>
</div>
