<%- contentFor('body_classes') %>
work-page

<%- contentFor('page_title') %>
My work - Agile Delivery Manager & Developer in Essex | Dan Mitchell

<%- contentFor('page_description') %>
Freelance Developer based in Essex. Specialising in all client side technologies and Ruby on Rails

<%- contentFor('body') %>
<div class='page'>
  <div class='page__content'>
    <h1 class='page__title'>my work</h1>
    <h2 class='page__sub-title'>I have worked with some amazing companies, here are a few of my favourite projects...</h3>
  </div>

  <div class='work'>
    <ul class='work__list'>
      <li class='work__item'><img src='images/work/barclay.png' alt='bPay project at Barclays'/></li>
      <li class='work__item'><img src='images/work/gov.png' alt='GOV.UK Registers project at Goverment Digital Service'/></li>
      <li class='work__item'><img src='images/work/tui.png' alt='TUI Ski project at TUI Group'/></li>
      <li class='work__item'><img src='images/work/mclaren.png' alt='McLaren car configutor project at WPP Group'/></li>
      <li class='work__item'><img src='images/work/mazda.png' alt='Mazda car configutor project at WPP Group'/></li>
      <li class='work__item'><img src='images/work/pearson.png' alt='Pearsons UK at Pearsons'/></li>
      <li class='work__item'><img src='images/work/telegraph-video.png' alt='Video Hub at The Telegraph Media Group'/></li>
      <li class='work__item'><img src='images/work/bespoke.png' alt='Bespoke Offers project at Barclays'/></li>
    </ul>
  </div>
</div>
